# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
.env
/prisma/dev.db
/prisma/migrations/
/prisma/.env
/generated/prisma

# IDEs
.vscode
.idea

# Build
/dist
/build

# Sistema Operacional
.DS_Store
Thumbs.db
